@charset "utf-8";
/**
 *  Author: 08
 *  Description: スマホ用CSS
 *  Last Update: 2015.2.12
 *
 *  [1] 変数
 *  [2] ミックスイン
 *  [3] 基本セレクタ
 *  [4] クラスセレクタ
 *  [5] IDセレクタ
 */
/*******************************
    [1] 変数
********************************/
/*******************************
    [2] ミックスイン
********************************/
/*******************************
    [3] 基本セレクタ
********************************/
body {
  max-width: 540px;
  overflow-x: hidden;
  background-color: #fff !important;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
input[type='button'],
input[type='submit'],
input[type='reset'] {
  padding: 5px 8px;
  width: auto;
  min-width: 80px;
}
table {
  border-spacing: 0;
  font-size: 12px;
}
/*******************************
    [4] クラスセレクタ
********************************/
/*------------------------------
    m
-------------------------------*/
.m,
.wiki_m {
  display: none;
}
/*------------------------------
    margin,padding
-------------------------------*/
.m0_s {
  margin: 0px;
}
.m1_s {
  margin: 1px;
}
.m2_s {
  margin: 2px;
}
.m3_s {
  margin: 3px;
}
.m4_s {
  margin: 4px;
}
.m5_s {
  margin: 5px;
}
.m6_s {
  margin: 6px;
}
.m7_s {
  margin: 7px;
}
.m8_s {
  margin: 8px;
}
.m9_s {
  margin: 9px;
}
.m10_s {
  margin: 10px;
}
.m11_s {
  margin: 11px;
}
.m12_s {
  margin: 12px;
}
.m13_s {
  margin: 13px;
}
.m14_s {
  margin: 14px;
}
.m15_s {
  margin: 15px;
}
.m16_s {
  margin: 16px;
}
.m17_s {
  margin: 17px;
}
.m18_s {
  margin: 18px;
}
.m19_s {
  margin: 19px;
}
.m20_s {
  margin: 20px;
}
.m21_s {
  margin: 21px;
}
.m22_s {
  margin: 22px;
}
.m23_s {
  margin: 23px;
}
.m24_s {
  margin: 24px;
}
.m25_s {
  margin: 25px;
}
.m26_s {
  margin: 26px;
}
.m27_s {
  margin: 27px;
}
.m28_s {
  margin: 28px;
}
.m29_s {
  margin: 29px;
}
.m30_s {
  margin: 30px;
}
.mt0_s {
  margin-top: 0px;
}
.mt1_s {
  margin-top: 1px;
}
.mt2_s {
  margin-top: 2px;
}
.mt3_s {
  margin-top: 3px;
}
.mt4_s {
  margin-top: 4px;
}
.mt5_s {
  margin-top: 5px;
}
.mt6_s {
  margin-top: 6px;
}
.mt7_s {
  margin-top: 7px;
}
.mt8_s {
  margin-top: 8px;
}
.mt9_s {
  margin-top: 9px;
}
.mt10_s {
  margin-top: 10px;
}
.mt11_s {
  margin-top: 11px;
}
.mt12_s {
  margin-top: 12px;
}
.mt13_s {
  margin-top: 13px;
}
.mt14_s {
  margin-top: 14px;
}
.mt15_s {
  margin-top: 15px;
}
.mt16_s {
  margin-top: 16px;
}
.mt17_s {
  margin-top: 17px;
}
.mt18_s {
  margin-top: 18px;
}
.mt19_s {
  margin-top: 19px;
}
.mt20_s {
  margin-top: 20px;
}
.mt21_s {
  margin-top: 21px;
}
.mt22_s {
  margin-top: 22px;
}
.mt23_s {
  margin-top: 23px;
}
.mt24_s {
  margin-top: 24px;
}
.mt25_s {
  margin-top: 25px;
}
.mt26_s {
  margin-top: 26px;
}
.mt27_s {
  margin-top: 27px;
}
.mt28_s {
  margin-top: 28px;
}
.mt29_s {
  margin-top: 29px;
}
.mt30_s {
  margin-top: 30px;
}
.mr0_s {
  margin-right: 0px;
}
.mr1_s {
  margin-right: 1px;
}
.mr2_s {
  margin-right: 2px;
}
.mr3_s {
  margin-right: 3px;
}
.mr4_s {
  margin-right: 4px;
}
.mr5_s {
  margin-right: 5px;
}
.mr6_s {
  margin-right: 6px;
}
.mr7_s {
  margin-right: 7px;
}
.mr8_s {
  margin-right: 8px;
}
.mr9_s {
  margin-right: 9px;
}
.mr10_s {
  margin-right: 10px;
}
.mr11_s {
  margin-right: 11px;
}
.mr12_s {
  margin-right: 12px;
}
.mr13_s {
  margin-right: 13px;
}
.mr14_s {
  margin-right: 14px;
}
.mr15_s {
  margin-right: 15px;
}
.mr16_s {
  margin-right: 16px;
}
.mr17_s {
  margin-right: 17px;
}
.mr18_s {
  margin-right: 18px;
}
.mr19_s {
  margin-right: 19px;
}
.mr20_s {
  margin-right: 20px;
}
.mr21_s {
  margin-right: 21px;
}
.mr22_s {
  margin-right: 22px;
}
.mr23_s {
  margin-right: 23px;
}
.mr24_s {
  margin-right: 24px;
}
.mr25_s {
  margin-right: 25px;
}
.mr26_s {
  margin-right: 26px;
}
.mr27_s {
  margin-right: 27px;
}
.mr28_s {
  margin-right: 28px;
}
.mr29_s {
  margin-right: 29px;
}
.mr30_s {
  margin-right: 30px;
}
.mb0_s {
  margin-bottom: 0px;
}
.mb1_s {
  margin-bottom: 1px;
}
.mb2_s {
  margin-bottom: 2px;
}
.mb3_s {
  margin-bottom: 3px;
}
.mb4_s {
  margin-bottom: 4px;
}
.mb5_s {
  margin-bottom: 5px;
}
.mb6_s {
  margin-bottom: 6px;
}
.mb7_s {
  margin-bottom: 7px;
}
.mb8_s {
  margin-bottom: 8px;
}
.mb9_s {
  margin-bottom: 9px;
}
.mb10_s {
  margin-bottom: 10px;
}
.mb11_s {
  margin-bottom: 11px;
}
.mb12_s {
  margin-bottom: 12px;
}
.mb13_s {
  margin-bottom: 13px;
}
.mb14_s {
  margin-bottom: 14px;
}
.mb15_s {
  margin-bottom: 15px;
}
.mb16_s {
  margin-bottom: 16px;
}
.mb17_s {
  margin-bottom: 17px;
}
.mb18_s {
  margin-bottom: 18px;
}
.mb19_s {
  margin-bottom: 19px;
}
.mb20_s {
  margin-bottom: 20px;
}
.mb21_s {
  margin-bottom: 21px;
}
.mb22_s {
  margin-bottom: 22px;
}
.mb23_s {
  margin-bottom: 23px;
}
.mb24_s {
  margin-bottom: 24px;
}
.mb25_s {
  margin-bottom: 25px;
}
.mb26_s {
  margin-bottom: 26px;
}
.mb27_s {
  margin-bottom: 27px;
}
.mb28_s {
  margin-bottom: 28px;
}
.mb29_s {
  margin-bottom: 29px;
}
.mb30_s {
  margin-bottom: 30px;
}
.ml0_s {
  margin-left: 0px;
}
.ml1_s {
  margin-left: 1px;
}
.ml2_s {
  margin-left: 2px;
}
.ml3_s {
  margin-left: 3px;
}
.ml4_s {
  margin-left: 4px;
}
.ml5_s {
  margin-left: 5px;
}
.ml6_s {
  margin-left: 6px;
}
.ml7_s {
  margin-left: 7px;
}
.ml8_s {
  margin-left: 8px;
}
.ml9_s {
  margin-left: 9px;
}
.ml10_s {
  margin-left: 10px;
}
.ml11_s {
  margin-left: 11px;
}
.ml12_s {
  margin-left: 12px;
}
.ml13_s {
  margin-left: 13px;
}
.ml14_s {
  margin-left: 14px;
}
.ml15_s {
  margin-left: 15px;
}
.ml16_s {
  margin-left: 16px;
}
.ml17_s {
  margin-left: 17px;
}
.ml18_s {
  margin-left: 18px;
}
.ml19_s {
  margin-left: 19px;
}
.ml20_s {
  margin-left: 20px;
}
.ml21_s {
  margin-left: 21px;
}
.ml22_s {
  margin-left: 22px;
}
.ml23_s {
  margin-left: 23px;
}
.ml24_s {
  margin-left: 24px;
}
.ml25_s {
  margin-left: 25px;
}
.ml26_s {
  margin-left: 26px;
}
.ml27_s {
  margin-left: 27px;
}
.ml28_s {
  margin-left: 28px;
}
.ml29_s {
  margin-left: 29px;
}
.ml30_s {
  margin-left: 30px;
}
.p0_s {
  padding: 0px;
}
.p1_s {
  padding: 1px;
}
.p2_s {
  padding: 2px;
}
.p3_s {
  padding: 3px;
}
.p4_s {
  padding: 4px;
}
.p5_s {
  padding: 5px;
}
.p6_s {
  padding: 6px;
}
.p7_s {
  padding: 7px;
}
.p8_s {
  padding: 8px;
}
.p9_s {
  padding: 9px;
}
.p10_s {
  padding: 10px;
}
.p11_s {
  padding: 11px;
}
.p12_s {
  padding: 12px;
}
.p13_s {
  padding: 13px;
}
.p14_s {
  padding: 14px;
}
.p15_s {
  padding: 15px;
}
.p16_s {
  padding: 16px;
}
.p17_s {
  padding: 17px;
}
.p18_s {
  padding: 18px;
}
.p19_s {
  padding: 19px;
}
.p20_s {
  padding: 20px;
}
.p21_s {
  padding: 21px;
}
.p22_s {
  padding: 22px;
}
.p23_s {
  padding: 23px;
}
.p24_s {
  padding: 24px;
}
.p25_s {
  padding: 25px;
}
.p26_s {
  padding: 26px;
}
.p27_s {
  padding: 27px;
}
.p28_s {
  padding: 28px;
}
.p29_s {
  padding: 29px;
}
.p30_s {
  padding: 30px;
}
.pt0_s {
  padding-top: 0px;
}
.pt1_s {
  padding-top: 1px;
}
.pt2_s {
  padding-top: 2px;
}
.pt3_s {
  padding-top: 3px;
}
.pt4_s {
  padding-top: 4px;
}
.pt5_s {
  padding-top: 5px;
}
.pt6_s {
  padding-top: 6px;
}
.pt7_s {
  padding-top: 7px;
}
.pt8_s {
  padding-top: 8px;
}
.pt9_s {
  padding-top: 9px;
}
.pt10_s {
  padding-top: 10px;
}
.pt11_s {
  padding-top: 11px;
}
.pt12_s {
  padding-top: 12px;
}
.pt13_s {
  padding-top: 13px;
}
.pt14_s {
  padding-top: 14px;
}
.pt15_s {
  padding-top: 15px;
}
.pt16_s {
  padding-top: 16px;
}
.pt17_s {
  padding-top: 17px;
}
.pt18_s {
  padding-top: 18px;
}
.pt19_s {
  padding-top: 19px;
}
.pt20_s {
  padding-top: 20px;
}
.pt21_s {
  padding-top: 21px;
}
.pt22_s {
  padding-top: 22px;
}
.pt23_s {
  padding-top: 23px;
}
.pt24_s {
  padding-top: 24px;
}
.pt25_s {
  padding-top: 25px;
}
.pt26_s {
  padding-top: 26px;
}
.pt27_s {
  padding-top: 27px;
}
.pt28_s {
  padding-top: 28px;
}
.pt29_s {
  padding-top: 29px;
}
.pt30_s {
  padding-top: 30px;
}
.pr0_s {
  padding-right: 0px;
}
.pr1_s {
  padding-right: 1px;
}
.pr2_s {
  padding-right: 2px;
}
.pr3_s {
  padding-right: 3px;
}
.pr4_s {
  padding-right: 4px;
}
.pr5_s {
  padding-right: 5px;
}
.pr6_s {
  padding-right: 6px;
}
.pr7_s {
  padding-right: 7px;
}
.pr8_s {
  padding-right: 8px;
}
.pr9_s {
  padding-right: 9px;
}
.pr10_s {
  padding-right: 10px;
}
.pr11_s {
  padding-right: 11px;
}
.pr12_s {
  padding-right: 12px;
}
.pr13_s {
  padding-right: 13px;
}
.pr14_s {
  padding-right: 14px;
}
.pr15_s {
  padding-right: 15px;
}
.pr16_s {
  padding-right: 16px;
}
.pr17_s {
  padding-right: 17px;
}
.pr18_s {
  padding-right: 18px;
}
.pr19_s {
  padding-right: 19px;
}
.pr20_s {
  padding-right: 20px;
}
.pr21_s {
  padding-right: 21px;
}
.pr22_s {
  padding-right: 22px;
}
.pr23_s {
  padding-right: 23px;
}
.pr24_s {
  padding-right: 24px;
}
.pr25_s {
  padding-right: 25px;
}
.pr26_s {
  padding-right: 26px;
}
.pr27_s {
  padding-right: 27px;
}
.pr28_s {
  padding-right: 28px;
}
.pr29_s {
  padding-right: 29px;
}
.pr30_s {
  padding-right: 30px;
}
.pb0_s {
  padding-bottom: 0px;
}
.pb1_s {
  padding-bottom: 1px;
}
.pb2_s {
  padding-bottom: 2px;
}
.pb3_s {
  padding-bottom: 3px;
}
.pb4_s {
  padding-bottom: 4px;
}
.pb5_s {
  padding-bottom: 5px;
}
.pb6_s {
  padding-bottom: 6px;
}
.pb7_s {
  padding-bottom: 7px;
}
.pb8_s {
  padding-bottom: 8px;
}
.pb9_s {
  padding-bottom: 9px;
}
.pb10_s {
  padding-bottom: 10px;
}
.pb11_s {
  padding-bottom: 11px;
}
.pb12_s {
  padding-bottom: 12px;
}
.pb13_s {
  padding-bottom: 13px;
}
.pb14_s {
  padding-bottom: 14px;
}
.pb15_s {
  padding-bottom: 15px;
}
.pb16_s {
  padding-bottom: 16px;
}
.pb17_s {
  padding-bottom: 17px;
}
.pb18_s {
  padding-bottom: 18px;
}
.pb19_s {
  padding-bottom: 19px;
}
.pb20_s {
  padding-bottom: 20px;
}
.pb21_s {
  padding-bottom: 21px;
}
.pb22_s {
  padding-bottom: 22px;
}
.pb23_s {
  padding-bottom: 23px;
}
.pb24_s {
  padding-bottom: 24px;
}
.pb25_s {
  padding-bottom: 25px;
}
.pb26_s {
  padding-bottom: 26px;
}
.pb27_s {
  padding-bottom: 27px;
}
.pb28_s {
  padding-bottom: 28px;
}
.pb29_s {
  padding-bottom: 29px;
}
.pb30_s {
  padding-bottom: 30px;
}
.pl0_s {
  padding-left: 0px;
}
.pl1_s {
  padding-left: 1px;
}
.pl2_s {
  padding-left: 2px;
}
.pl3_s {
  padding-left: 3px;
}
.pl4_s {
  padding-left: 4px;
}
.pl5_s {
  padding-left: 5px;
}
.pl6_s {
  padding-left: 6px;
}
.pl7_s {
  padding-left: 7px;
}
.pl8_s {
  padding-left: 8px;
}
.pl9_s {
  padding-left: 9px;
}
.pl10_s {
  padding-left: 10px;
}
.pl11_s {
  padding-left: 11px;
}
.pl12_s {
  padding-left: 12px;
}
.pl13_s {
  padding-left: 13px;
}
.pl14_s {
  padding-left: 14px;
}
.pl15_s {
  padding-left: 15px;
}
.pl16_s {
  padding-left: 16px;
}
.pl17_s {
  padding-left: 17px;
}
.pl18_s {
  padding-left: 18px;
}
.pl19_s {
  padding-left: 19px;
}
.pl20_s {
  padding-left: 20px;
}
.pl21_s {
  padding-left: 21px;
}
.pl22_s {
  padding-left: 22px;
}
.pl23_s {
  padding-left: 23px;
}
.pl24_s {
  padding-left: 24px;
}
.pl25_s {
  padding-left: 25px;
}
.pl26_s {
  padding-left: 26px;
}
.pl27_s {
  padding-left: 27px;
}
.pl28_s {
  padding-left: 28px;
}
.pl29_s {
  padding-left: 29px;
}
.pl30_s {
  padding-left: 30px;
}
/*------------------------------
    header
-------------------------------*/
.h_black {
  margin: 5px 0 0 0;
  font-size: 12px;
}
/*------------------------------
    .wiki
-------------------------------*/
.wiki h2.menu {
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 400;
  border-left: 6px solid #0bd;
  padding: 3px 10px;
  background-color: #444;
  background-image: -o-linear-gradient(left, #444, #666);
  color: white;
  font-size: 12px;
  border-bottom: 0;
}
/*------------------------------
    .wiki_scroll
-------------------------------*/
table.wiki_scroll {
  display: block;
  overflow-x: auto;
}
table.wiki_scroll thead {
  white-space: nowrap;
}
table.wiki_scroll tbody {
  white-space: nowrap;
}
table.wiki_scroll:before {
  content: '←scroll可能→';
}
table.wiki_p2_s th,
table.wiki_p2_s td {
  padding: 2px;
}
table.wiki_p4_s th,
table.wiki_p4_s td {
  padding: 4px;
}
table.wiki_p6_s th,
table.wiki_p6_s td {
  padding: 6px;
}
table.wiki_w100_s {
  width: 100%;
}
/*******************************
    [5] IDセレクタ
********************************/
/*------------------------------
    shortcut_menu
-------------------------------*/
#shortcut_menu {
  position: fixed;
  bottom: 80px;
  right: -3px;
  font-size: 20px;
  padding: 3px 12px 3px 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  z-index: 99997;
  text-align: center;
  line-height: 12px;
}
#shortcut_menu:hover {
  cursor: pointer;
}
#shortcut_menu:after {
  content: '\AMenu';
  white-space: pre;
  font-size: 12px;
}
/*------------------------------
    基本レイアウト
-------------------------------*/
/*------------------------------
    container,container_admin
      header
      contents
        left
        main
        right
      footer
-------------------------------*/
#contents {
  margin: 0 auto;
  padding: 0;
}
#contents #left {
  margin-top: 10px;
  margin-bottom: 10px;
}
#contents #left a {
  font-size: 13px;
}
#contents #left.slide {
  margin: 0;
  width: 280px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -280px;
  overflow: scroll;
  z-index: 99998;
  border-right: 1px solid #ddd;
  background-color: white;
}
#footer {
  padding: 8px;
}
#footer .footer_menu .game_menu .title {
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}
#footer .footer_menu .game_menu .title a {
  color: white;
}
#footer .footer_menu .game_menu ul li {
  zoom: 1;
}
#footer .footer_menu .game_menu ul li:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#footer .footer_menu .game_menu ul li a {
  display: block;
  text-align: left;
  color: white;
  font-size: 11px;
  padding: 10px 0;
  border-bottom: 1px solid #555;
  float: right;
  width: 40px;
}
#footer .footer_menu .game_menu ul li a:first-child {
  float: left;
  width: 100%;
  margin-right: -40px;
}
#footer .footer_menu .game_menu ul li a:hover {
  background-color: transparent;
  text-decoration: underline;
}
#footer .footer_menu .other_menu {
  margin-top: 20px;
}
#footer .footer_menu .other_menu a {
  font-size: 11px;
  margin: 5px;
  color: white;
}
#h_menu > ul {
  padding: 0;
}
#h_menu > ul > li {
  float: left;
  width: 33.33%;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  text-align: center;
}
#h_menu > ul > li > a {
  height: 30px;
  line-height: 30px;
  padding: 0;
  font-size: 10px;
  font-weight: 700;
}
#h_menu > ul > li > a > div {
  position: absolute;
  font-size: 8px;
  color: red;
  top: -8px;
  left: 5px;
}
#navi {
  padding: 6px 8px 4px 8px;
  line-height: 1.4;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 36px;
  overflow: hidden;
}
#navi ul {
  white-space: nowrap;
  overflow-x: auto;
  --webkit-overflow-scrolling: touch;
  height: 50px;
}
#navi ul li {
  display: inline;
  padding-left: 18px;
  background-image: url(/common/img/icon/navi.png);
  background-size: 12px;
  background-position: left center;
  background-repeat: no-repeat;
}
#navi ul li:first-child {
  background: none;
  padding-left: 0;
}
#navi ul li a:hover {
  background-color: transparent;
}
#contents {
  width: 100%;
}
#header .game_title {
  padding: 0 8px;
  font-size: 14px;
}
#header2 .top_header {
  padding: 0px;
}
#bbs > ul > li {
  padding: 10px;
}
/*------------------------------
    new_info_list
-------------------------------*/
ul.tabs li label {
  font-size: 15px;
}
.data_title {
  font-size: 20px;
}
/*------------------------------
    管理用
-------------------------------*/
#admin #main {
  padding: 0 10px 10px 10px;
}
#menu {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: -220px;
  width: 220px;
  height: 100%;
  border-right: 1px solid #777;
  background-color: white;
  z-index: 2;
}
#header > .s > .title > div > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  display: block;
  font-size: 16px;
  color: white;
  line-height: 45px;
}
.l_size_only {
  display: none !important;
}
